<h1 >
hello from <%= @author.name %>
Im <%= @author.age %> Old




<ol><%= render :partial=> "author" , :collection=> @authors %>
</ol>
<div><%= render :partial=> "form"%></div>
<ol>
	<%= render :partial=>"books/book",  :collection=> @author.books%>
</ol>
	

<ul id="menu">
<li><%##= link_to "edit", edit_teacher_url(@teacher)%></li>
<li><%#= link_to "powrot", teachers_url(@teacher)%></li>
<li><%#= link_to "Tancerze" , dancers_url%></li>
<li><%#= link_to "Uczniowie" , pupils_url(:s=> @teacher)%></li>
<li><%#= link_to "usun" , teacher_url(@teacher) , :method=>"delete"%></li>
</ul> 
Wybierz jedna z opcji dostepnych powyzej